@model Volontyor_Hakaton.Models.News

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
