@model IEnumerable<Volontyor_Hakaton.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NewId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NewId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
